[Unit]
  Description=cdk-validium-node
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  ExecStart=/usr/bin/cdk-validium-node
  Type=simple
  KillSignal=SIGINT
  User=cdk-validium-node
  TimeoutStopSec=120

[Install]
  WantedBy=multi-user.target
